
@keyframes ldio-sykedikmf0c {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 18px;
    left: 18px;
    width: 156px;
    height: 156px;
    opacity: 0;
  }
}

.ldio-sykedikmf0c div {
  position: absolute;
  border-width: 4px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: ldio-sykedikmf0c 1s cubic-bezier(0,0.2,0.8,1) infinite;
}

.ldio-sykedikmf0c div:nth-child(1) {
  border-color: #182731
}

.ldio-sykedikmf0c div:nth-child(2) {
  border-color: #a7d4ec;
  animation-delay: -0.5s;
}

.loadingio-spinner-ripple-55bifeuocvd {
  width: 200px;
  height: 200px;
  display: block;
  overflow: hidden;
  background: none;
  margin: 0 auto;
}
.ldio-sykedikmf0c {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-sykedikmf0c div { box-sizing: content-box; }